.menu {
    display: none;
}

.menu.is-active {
    display: block;
    background-color: #FFF7EF;
}


@include breakpoint( tablet ) {
}
@include breakpoint( pc ) {
}
// @include breakpoint( wide ) {
// }