.l-sidebar {
    display: none;
}


.l-header {
    background-color: #FFF7EF;
    font-family: 'Roboto';
    color: #707070;
    height: 30vh;
    margin: 0;
    padding: 0;
    &__menu {
        display: flex;
        flex-direction: column;
        position: static;
        z-index: 0;

        &-btn {
            position: relative;
            left: 85vw;
            width: 0%;
            font-size: 1.5rem;
            
        }
        
    }
    &__title {
        font-size: 3.0rem;
        font-weight: bold;
        text-align: center;
        margin: 2.0rem;
    }
    &__search {
        text-align: center;
        
    }
}


@include breakpoint( tablet ) {
}
@include breakpoint( pc ) {
}
// @include breakpoint( wide ) {
// }