.l-sidebar {
    display: none;
}


.l-header {
    background-color: #FFF7EF;
    
    &__menu {
        display: flex;
        flex-direction: column;
        position: static;
        z-index: 0;

        &-btn {
            position: relative;
            left: 85vw;
            width: 0%;
            
        }
        
    }
}


@include breakpoint( tablet ) {
}
@include breakpoint( pc ) {
}
// @include breakpoint( wide ) {
// }